<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="edu.school21"/>
    <bean id="printToLower" class="edu.school21.preprocessor.PreProcessorToLowerImpl"></bean>
    <bean id="printToUpper" class="edu.school21.preprocessor.PreProcessorToUpperImpl"></bean>

    <bean id="renderErr" class="edu.school21.Render.RendererErrImpl">
        <constructor-arg index="0" ref="printToUpper"/>
    </bean>

    <bean id="renderStandart" class="edu.school21.Render.RendererStandardImpl">
        <constructor-arg index="0" ref="printToLower"/>
    </bean>

    <bean id="printWithDate" class="edu.school21.Printer.PrinterWithDateTimeImpl">
        <constructor-arg index="0" ref="renderStandart"/>
    </bean>

    <bean id="printWithPrefix" class="edu.school21.Printer.PrinterWithPrefixImpl">
        <constructor-arg index="0" ref="renderErr"/>
        <property name="prefix" value="Prefix"/>
    </bean>
</beans>